body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 650px;
}

.spacing-2px {
  letter-spacing: 2px;
}

.font-italic {
  font-style: italic;
}

.material-symbols-outlined {
  font-size: 40px;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}

.max-h-600 {
  max-height: 600px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  max-width: 60px;
  height: 10%;
  min-height: 40px;
  max-height: 60px;
  background-color: #000;
  border-radius: 50%;
  top: calc(50% - 25px);
  opacity: 1;
}

.carousel-control-prev {
  left: 5%;
}

.carousel-control-next {
  right: 5%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.5;
}
